.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.idea/
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/modules.xml
.idea/modules.xml
.idea/gradle.xml
.idea/gradle.xml
.idea/gradle.xml
.idea/modules.xml
